**Name: Ketan Jain || Reg. No.: 22MCA0417**

**Machine Learning- Digital Assignment: 1**

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm

In [56]:
%matplotlib inline

In [57]:
df = pd.read_csv("penguins_size.csv")
df.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [59]:
df.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [60]:
df['sex'].fillna(df['sex'].mode()[0],inplace=True)

df['culmen_length_mm'].fillna(df['culmen_length_mm'].mean(),inplace=True)
df['culmen_depth_mm'].fillna(df['culmen_depth_mm'].mean(),inplace=True)
df['flipper_length_mm'].fillna(df['flipper_length_mm'].mean(),inplace=True)
df['body_mass_g'].fillna(df['body_mass_g'].mean(),inplace=True)

df.isnull().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [61]:
df[df['sex']=='.']

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,.

In [62]:
df.loc[336,'sex'] = 'FEMALE'

In [63]:
df['species']=df['species'].map({'Adelie':0,'Gentoo':1,'Chinstrap':2})
df['island']=df['island'].map({'Biscoe':0,'Dream':1,'Torgersen':2})
df['sex']=df['sex'].map({'MALE':0,'FEMALE':1})

In [64]:
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.10000,18.70000,181.000000,3750.000000,0
1,0,2,39.50000,17.40000,186.000000,3800.000000,1
2,0,2,40.30000,18.00000,195.000000,3250.000000,1
3,0,2,43.92193,17.15117,200.915205,4201.754386,0
4,0,2,36.70000,19.30000,193.000000,3450.000000,1

In [65]:
df.tail()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
339,1,0,43.92193,17.15117,200.915205,4201.754386,0
340,1,0,46.80000,14.30000,215.000000,4850.000000,1
341,1,0,50.40000,15.70000,222.000000,5750.000000,0
342,1,0,45.20000,14.80000,212.000000,5200.000000,1
343,1,0,49.90000,16.10000,213.000000,5400.000000,0

In [66]:
y = df['species']
df.drop('species', axis=1, inplace = True)
X = df

In [67]:
TrainX, XTest, YTrain, YTest = train_test_split(X, y, test_size = .3, random_state = 42)

In [68]:
TrainX.shape

(240, 6)

In [69]:
XTest.shape

(104, 6)

In [70]:
YTrain.shape

(240,)

In [71]:
YTest.shape

(104,)

In [72]:
model2 = DecisionTreeClassifier()

model2.fit(TrainX, YTrain)

prediction2 = model2.predict(XTest)
print('Decision Tree Classifier Accuracy: ', metrics.accuracy_score(prediction2, YTest))

Decision Tree Classifier Accuracy:  0.9519230769230769

In [73]:
model3 = KNeighborsClassifier()

model3.fit(TrainX, YTrain)

prediction3 = model3.predict(XTest)
print('K-Neighbors Classifier Accuracy: ', metrics.accuracy_score(prediction3, YTest))

K-Neighbors Classifier Accuracy:  0.7788461538461539

In [74]:
model1 = LogisticRegression(random_state=0, max_iter=1000)

model1.fit(TrainX, YTrain)

prediction1 = model1.predict(XTest)
print('The accuracy of the Logistic Regression is: ', metrics.accuracy_score(prediction1, YTest))

The accuracy of the Logistic Regression is:  1.0

c:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [75]:
#Try all kernals ‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’
model_a = svm.SVC(kernel='linear')
model_b = svm.SVC(kernel='poly')
model_c = svm.SVC(kernel='rbf')
model_d = svm.SVC(kernel='sigmoid')

model_a.fit(TrainX, YTrain)
model_b.fit(TrainX, YTrain)
model_c.fit(TrainX, YTrain)
model_d.fit(TrainX, YTrain)

predict_a = model_a.predict(XTest)
predict_b = model_b.predict(XTest)
predict_c = model_c.predict(XTest)
predict_d = model_d.predict(XTest)

print('Accuracy of the SVM (Kernel = linear): ', metrics.accuracy_score(predict_a, YTest))
print('Accuracy of the SVM (Kernel = poly): ', metrics.accuracy_score(predict_b, YTest))
print('Accuracy of the SVM (Kernel = rbf): ', metrics.accuracy_score(predict_c, YTest))
print('Accuracy of the SVM (Kernel = sigmoid): ', metrics.accuracy_score(predict_d, YTest))

Accuracy of the SVM (Kernel = linear):  0.9903846153846154
Accuracy of the SVM (Kernel = poly):  0.7115384615384616
Accuracy of the SVM (Kernel = rbf):  0.7115384615384616
Accuracy of the SVM (Kernel = sigmoid):  0.18269230769230768